/* Title with Text Block */
.title-with-text {
  text-align: center;
}

.title-with-text h2 {
  color: #010c66;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.2;
}

.title-with-text p {
  color: #010c66;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
}
